<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Split Screen</title>
    <link rel="stylesheet" href="./PageEffect.css">
</head>

<body>
    <div class="Hi">
    <div class="container">
        <div class="split left">
            <h2>
                Are you <strong>bored?</strong>
            </h2>
        </div>
        <div class="split right">
            <h2>
               We have come to <strong>Help</strong>
            </h2>
        </div>
    </div>

    <div class="credit">Explore 
        <a href="https://unsplash.com/@nhillier">Activity</a> on <a
            href="https://unsplash.com/">Our Dasboard</a>
        
    </div>
    </div>

    <script src="PageEffect.js"></script>
</body>

</html>