.App {
  text-align: center;
}

.link {
  color: white;
  font-weight: bold;
}

.link:active,
.link:hover {
  text-decoration: none;
  color: black;
  padding: 10px 10px;
}

nav-p {
  font-weight: bold;
  height: 0%;
}

.About {
  background-color: black;
  margin-top: 60px;
  margin-right: 7px;
  margin-left: 28px;
}

.border {
  background-color: rgb(245, 243, 243);
}

row {
  display: flex;
  flex-wrap: wrap;
}

.aboutmain {
  width: 50em;
  height: 7em;
  border-radius: 7px;
}

.aboutProj {
  background-color: rgb(245, 243, 243);
  height: 3rem;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 770px) {
  .aboutmain {
    width: 30em;
    text-align: left;
  }
}

@media screen and (max-width: 470px) {
  .aboutmain {
    width: 25em;
    text-align: left;
  }
  .aboutProj {
    height: 4rem;
  }
}
.grid-container {
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  height: 500px;
  padding: 20px 10px 0px 10px;
  width: 80%;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  grid-template-rows: 1fr 1fr 1fr;
}

#image3 {
  grid-column-start: 2;
  grid-column-end: 3;
}
#image1 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

#image4 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 5;
}
#image5 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}
#image6 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
}
#image7 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}
#image8 {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 5;
}
#image9 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 5;
  grid-column-end: 6;
}
#image10 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 5;
  grid-column-end: 6;
}
.image {
  padding: 0 0px 10px 2px;
  width: 100%;
}
.output {
  display: flex;
  flex-direction: column;
}
.display-data {
  height: 60%;
}
.content {
  justify-content: left;
  margin-top: -290px;
  background-color: white;
  width: 60%;
  height: 30%;
  padding: 20px;
}
h1 {
  color: cadetblue;
}

.back {
  display: inline-block;
  padding: 10px 30px;
  color: cadetblue;
  background-color: transparent;
  border: 2px solid cadetblue;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 30px;
  transition: 0.3s ease background-color;
  transition-property: background-color, color;
}
.back:hover {
  color: white;
  text-decoration: none;
  font-weight: bold;
  background-color: cadetblue;
}
.MuiListSubheader-gutters {
  display: none;
}
#header {
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 97.7vw;

  margin-left: 28px;
  height: 60px;
  box-sizing: border-box;

  background: rgba(0, 0, 0, 0.6);
  border-bottom: #fff;
}
nav .logo {
  padding: 12px 20px;
  height: 80px;
  float: left;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: cadetblue;
}
nav ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
  text-decoration: none;
}
nav ul li a {
  line-height: 80px;
  color: cadetblue;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
nav ul li a:hover {
  background: cadetblue;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  list-style: none;
}

.image-list {
  margin: 20px;
  width: 97vw;
  padding-top: 78px;
  padding-left: 8px;
  padding-right: 0px;
  margin-right: 0;
  margin-top: 60px;
  margin-left: 8px;
}
.grid-container {
  padding-top: 78px;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: 40px;
  margin-top: 60px;
  margin-left: 8px;
}
