.App {
    text-align: center;
  }

.link{
  color: white;
  font-weight: bold;
}

.link:active, .link:hover{
  text-decoration: underline;
  color: black;
  padding: 10px 10px;
}


nav-p{
  font-weight: bold;
}

.About{
  background-image:url(./Images/background.jpg);
}

.border{
  background-color: rgb(245, 243, 243);
}

row{
  display: flex;
  flex-wrap: wrap;
}

.aboutmain{
  width: 50em;
  height: 7em;
  border-radius: 7px;
}

.aboutProj{
  background-color:rgb(245, 243, 243);
  height: 3rem;
}

@media screen and (max-width: 700px) {
  .aboutmain{
    width: 30em;
    text-align: left;
  }
}

@media screen and (max-width: 470px) {
  .aboutmain{
    width: 25em;
    text-align: left;
  }
  .aboutProj{
    height: 4rem;
  }
}