.App {
    text-align: center;
  }

.link{
  color: white;
  font-weight: bold;
}

.link:active, .link:hover{
  text-decoration: underline;
  color: black;
  padding: 10px 10px;
}


nav-p{
  font-weight: bold;
}

row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.aboutmain{
  width: 45em;
  height: 10em;
  border-radius: 7px;
}
